body{
   
    background: #3f779c ;
}
.main_quote{
   
    width: 100%;
    height: 100vh;
    border: 0.3px solid #1d0954;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #1d0954;
}
.card_quote{
    
    background-color: beige !important;
    width: 60%;
    height: 20rem;
    color: #1d0954 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0.3rem 1.5rem;
    border-radius: 2rem;
   
    
    box-shadow: rgba(4, 223, 247, 0.35) 0px 5px 15px;
}

.card_quote h2{
    width: 100%;
    text-align: center;

}


.button_quote {
 
    border: none;
    background-color: #1d0954;
    padding: 1rem 2rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    border-radius: 0.6rem;
    width: 40%;
    color: aliceblue;
  }
  .button_quote:hover{
    color: #063970;
    background-color: #3f779c;
}
@media (max-width: 768px) {
    .card_quote {
        width: 80%;
    }
    .card_quote h2{
        font-size: 1.3rem;
    }
    .main_quote h1{
        font-size: 1.5rem;
        padding: 0.5rem 1rem;
        text-align: center;
    }
}

@media (max-width: 480px) {
    .card_quote{
        width: 70%;
    }
    .card_quote h2{
        font-size: 1.2rem;
    }
    .main_quote h1{
        font-size: 1.5rem;
        padding: 0.5rem 1rem;
        text-align: center;
    }
    .button {
     font-size: 0.7rem; 
      }
}
